.mainPage{   
    background: #fefe;
    margin:20px;
}

.mainPage__Picture{
    width: 100%;
    padding-right:50px;
}

.mainPage__Header {
    color: hotpink;
    font-size:25px;
    border-bottom: 3px dotted hotpink;
}
.mainPage__Header--Home{
    color: deeppink;
    font-size:40px;
    padding-top:50px;
    border-bottom:none;
}
.mainPage__Header--Diary--Date {
    color: rgb(246, 155, 169);
    font-size:20px
}
.mainPage__Paragraph{
    color:black;
}
.mainPage__Navigator{
    color:blueviolet;
}
.mainPage__Navigator--Start{

    position:fixed;
    top:-20px;
    left:0px;
    box-sizing: border-box;
    padding:16px;
    width:100%; 
}
.mainPage__Navigator--Up
{
    position:fixed;
    right:0px; 
    bottom:0px;
    
}
.mainPage__Footer{
    color: grey;
}

.notesBody{
    background-color: lemonchiffon;
    padding: 20px;
}
.notesTableofContentHeader{
color:orangered
}
.notesArticleHeader{
color:rgb(242, 114, 9);
}
.notesSectionHeader{
color:orange;
}
.notesParagraph{
    color:black;
}
.notesNavigator{
    color:red;
}
.notesTableOfContentNavigator{
    color:red;
    position:fixed;
    bottom:10px;
    right:10px; 
    text-decoration: none;
    background-color: lemonchiffon;
}



.usefullLinksBody{
    padding: 20px;
    background-color: #E1F4CB;
}
.usefullLinksHeader{
    color:#1FB18F;
}
.usefullLinksParagraph{
    color:black;
}
.usefullLinksNavigator
{
    color:#0098A3
}