.mainPage{   
    background: #fefe;
    margin:20px;
}

.mainPage__Picture{
    width: 90%;
    padding-right:50px;
    margin-left: 0;
}

.mainPage__Header {
    color: hotpink;
    font-size:25px;
    border-bottom: 3px dotted hotpink;
}
.mainPage__Header--Home{
    color: deeppink;
    font-size:40px;
    padding-top:44px;
    border-bottom:none;
}
.mainPage__Header--Diary--Date {
    color: rgb(246, 155, 169);
    font-size:20px
}
.mainPage__Paragraph{
    color:black;
    line-height: 32px;
}
.mainPage__Navigator{
    color:blueviolet;
}
.mainPage__Navigator--Start{
    position:fixed;
    margin-top: 0px;
    top:0px;
    left:0px;
    box-sizing: border-box;
    padding:16px;
    width:100%; 
}
.mainPage__Navigator--Up
{
    position:fixed;
    right:0px; 
    bottom:0px;
    width:auto;
    
}
.mainPage__Footer{
    color: grey;
}

.notes{
    background-color: lemonchiffon;
}
.notes__Header{
color:orangered
}
.notes__Header--Article{
color:rgb(242, 114, 9);
}
.notes__Header--Article--Chapter{
color:orange;
}
.notes__Paragraph{
    color:black;
}
.notes__Navigator{
    color:red;
}
.notes__Navigator--TableOfContent{
    position:fixed;
    bottom:10px;
    right:10px; 
    text-decoration: none;
}
.notes__Footer{
    color: grey;
}

.usefull{
    margin: 20px;
    background-color: #E1F4CB;
}
.usefull__Header{
    color:#1FB18F;
    margin-left: 20px;
}
.usefull__Navigator
{
    color:#0098A3;
}
.usefull__Paragraph
{
    color:#0098A3 ;
    margin-left: 0;
}