.mainPagebody {
    
    background: #fefe;
    padding: 20px;
   
}

.myPicture{

    width: 100%
}

.mainHeader{
    color: deeppink;
}

.mainPagesection {
    color: hotpink;
    font-size:20px;
    border-bottom: 3px dotted hotpink;
}

.mainArticle {
    color: rgb(246, 155, 169);
}
.mainParagraph{
    color:black;
}
.mainPageNavigator{
    color:blueviolet;
}
.mainFooter{
    color: grey;
}


.notesBody{
    background-color: lemonchiffon;
    padding: 20px;
}
.notesTableofContentHeader{
color:orangered
}
.notesArticleHeader{
color:rgb(242, 114, 9);
}
.notesSectionHeader{
color:orange;
}
.notesParagraph{
    color:black;
}
.notesNavigator{
    color:red;
}


.usefullLinksBody{
    padding: 20px;
    background-color: #E1F4CB;
}
.usefullLinksHeader{
    color:#1FB18F;
}
.usefullLinksParagraph{
    color:black;
}
.usefullLinksNavigator
{
    color:#0098A3
}